body {
    cursor: url('../cursor/left_ptr.cur'), auto; /* Курсор по умолчанию */
}

/* Курсор "помощь" */
.help {
    cursor: url('../cursor/help.cur'), help; /* Курсор помощи */
}

/* Курсор "начало приложения" */
.app-starting {
    cursor: url('../cursor/left_ptr_watch.ani'), auto; /* Курсор для начала приложения */
}

/* Курсор "ожидание" */
.wait {
    cursor: url('../cursor/watch.ani'), wait; /* Курсор ожидания */
}

/* Курсор "крест" */
.cross {
    cursor: url('../cursor/cross.cur'), crosshair; /* Курсор крест */
}

/* Курсор "I-Beam" */
.ibeam {
    cursor: url('../cursor/text.cur'), text; /* Курсор I-Beam для текстовых полей */
}

/* Курсор "написание" */
.handwriting {
    cursor: url('../cursor/pencil.cur'), text; /* Курсор для написания */
}

/* Курсор "нельзя" */
.no-drop {
    cursor: url('../cursor/forbidden.cur'), not-allowed; /* Курсор "нельзя" */
}

/* Курсор "вверх-вниз" */
.size-ns {
    cursor: url('../cursor/size_ver.cur'), ns-resize; /* Курсор "вверх-вниз" */
}

/* Курсор "влево-вправо" */
.size-we {
    cursor: url('../cursor/size_hor.cur'), ew-resize; /* Курсор "влево-вправо" */
}

/* Курсор "по диагонали (северо-запад - юго-восток)" */
.size-nwse {
    cursor: url('../cursor/size_fdiag.cur'), nwse-resize; /* Курсор "по диагонали" */
}

/* Курсор "по диагонали (северо-восток - юго-запад)" */
.size-nesw {
    cursor: url('../cursor/size_bdiag.cur'), nesw-resize; /* Курсор "по диагонали" */
}

/* Курсор "все размеры" */
.size-all {
    cursor: url('../cursor/size_all.cur'), all-scroll; /* Курсор "все размеры" */
}

/* Курсор "стрелка вверх" */
.up-arrow {
    cursor: url('../cursor/up_arrow.cur'), auto; /* Курсор "стрелка вверх" */
}

/* Курсор "рука" */
.hand {
    cursor: url('../cursor/pointing_hand.cur'), pointer; /* Курсор "рука" */
}
