@font-face {
  font-family: 'aireexterior';
  src: url('/fonts/Akrobat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'pulsar';
  src: url('/fonts/PulsarOriginalRegular.woff') format('woff');
}

