@font-face {
  font-family: 'aireexterior';
  src: url('../fonts/Tektur-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pulsar';
  src: url('../fonts/MATRIX\ V2.woff2') format('woff2');
}

