@mixin btn-basic {
    width: 212px;
    height: 56px;
    background-color: $accent-saturated;
    border-radius: 32px;
}

@mixin title-h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: clamp(20px, 3vw, 100px);
        padding-top: clamp(20px, 3vw, 100px);
}

@mixin block-style {
    grid-column: span 6;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid $accent-light;
    // border-radius: 15px;
    background-image: radial-gradient(circle, rgba(124, 252, 0, 0.4), rgba(82, 125, 139, 0.4));
    box-shadow: -20px 7px 29px 20px rgba(0, 0, 0, 0.4), 20px -8px 29px 20px rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;;

    
    &::before {
        z-index: -5;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 15px;
        box-shadow: -20px 20px 85px 0px rgba(124, 252, 0, 0.4), 20px -20px 85px 0px rgba(124, 252, 0, 0.4);
        transition: $tr;
    }
}

@mixin style-btn {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    font-family: 'pulsar';
    // width: clamp(160px, 4vw, 251px);
    // height: clamp(50px, 4vw, 50px);
    border: none;
    border-radius: 15px;
    box-shadow: -2px 3px 16px 2px $accent-dark;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 5.344%, rgb(102 101 101 / 99%) 59.542%, rgb(179 178 178 / 99%) 98.779%, rgba(0, 0, 0, 0.99) 100%);
    background-size: 200% 200%;
    background-position: 50% 50%;
    transition: background-position $tr, box-shadow $tr, clip-path $tr;

    @media (hover: hover) {
        &:hover {
            background-position: 0 75%;
            box-shadow: -5px 6px 16px 2px $accent-dark;
        }
    }
}

