$accent-light: #7CFC00;
$accent-dark: #1E1E1E;
$accent-gray: #2C2C2C;

$gray: #43454D;
$light: #8c8d90;
$white: #fff;

$html: #E54F26;
$css: #0C73B8;
$js: #E7A020;
$react: #28A9E0;

$tr:  0.3s;

.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    backdrop-filter: blur(5px); /* Эффект размытия */
    display: none; /* Скрыто по умолчанию */
}


.show {
    display: block;
}