$bg-light: #292F36;
$bg-dark: #000;

$accent-saturated: #86d802;
$accent-pale: #fcfe01;

// $accent-saturated: #01ff01;
// $accent-pale: #e5ff04;

$gray: #43454D;
$light: #8c8d90;
$white: #fff;

$html: #E54F26;
$css: #0C73B8;
$js: #E7A020;
$react: #28A9E0;

$tr:  0.3s;
