@font-face {
  font-family: "aireexterior";
  src: url("/fonts/Akrobat-Regular.woff") format("woff");
}
@font-face {
  font-family: "pulsar";
  src: url("/fonts/PulsarOriginalRegular.woff") format("woff");
}
.fixed-nav {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  height: 123px;
  justify-content: space-around;
  align-items: center;
  background: rgba(30, 30, 30, 0.25);
}

@keyframes logo {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 200% 100%;
  }
  50% {
    background-position: 300% 100%;
  }
  75% {
    background-position: 400% 100%;
  }
  100% {
    background-position: 500% 100%;
  }
}
.header__logo {
  color: transparent;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-family: "pulsar";
  font-size: 1.5em;
  background: linear-gradient(to right, #7CFC00, #FFFF00, #7CFC00);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 2000% 400%;
  background-position: 200% 0%, 0% 0%;
  transition: background-size, background-position, 1s;
  animation: logo linear 30s infinite;
}
.header__logo::after {
  content: "";
  position: absolute;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 48px;
  left: -20px;
  bottom: 0;
}

.nav__list {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.nav__item-link {
  position: relative;
}
.nav__item-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #7CFC00;
  transition: width 0.3s ease, left 0.3s ease;
}
.nav__item-link:hover::after {
  width: 100%;
  left: 0;
}

.hero {
  padding-top: 26px;
}

.hero__img-bg {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, rgba(124, 252, 0, 0.3), rgba(82, 125, 139, 0.3)), url(../img/9e1cea9f6811fe72683e9836bafb23da.jpg);
  max-width: 1327px;
  height: 778px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 15px;
  box-sizing: border-box;
  border: 0.5px solid #7CFC00;
  box-shadow: -20px 20px 29px 0px rgba(0, 0, 0, 0.4), 20px -20px 29px 0px rgba(0, 0, 0, 0.4);
}
.hero__img-bg::before {
  z-index: -5;
  position: absolute;
  content: "";
  border-radius: 24px;
  filter: blur(85px);
  background: rgba(124, 252, 0, 0.4);
  width: 100%;
  height: 100%;
}

.hero__title {
  text-shadow: 12px 12px 14px rgba(0, 0, 0, 0.8);
  font-size: 2em;
}

@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 200% 100%;
  }
  50% {
    background-position: 300% 100%;
  }
  75% {
    background-position: 400% 100%;
  }
  100% {
    background-position: 500% 100%;
  }
}
.hero__box {
  box-shadow: -5px 6px 16px 2px #1E1E1E;
  margin: 60px 0 60px 0;
}

.hero__subtitle {
  font-weight: bold;
  margin: 0;
  padding: 20px;
  color: #1e1e1e;
  background-size: 200% 400%;
  background-position: 100% 100%;
  animation: gradient 10s linear infinite;
  background-image: radial-gradient(circle, rgba(124, 252, 0, 0.9), rgba(82, 125, 139, 0.9));
  border-radius: 15px;
}

.hero__corner-btn {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-size: 1em;
  font-family: "pulsar";
  width: 251px;
  height: 61px;
  margin-top: 97px;
  border: none;
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  box-shadow: -2px 3px 16px 2px #1E1E1E;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 5.344%, rgba(173, 171, 171, 0.99) 59.542%, rgba(236, 236, 236, 0.99) 98.779%, rgba(172, 168, 168, 0.99) 100%);
  background-size: 200% 200%;
  background-position: 50% 50%;
  transition: background-position 0.3s, box-shadow 0.3s, -webkit-clip-path 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s, clip-path 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s, clip-path 0.3s, -webkit-clip-path 0.3s;
}
.hero__corner-btn:hover {
  background-position: 0 75%;
  box-shadow: -5px 6px 16px 2px #1E1E1E;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero__discription {
  font-size: 0.8em;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.about-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 58px;
}

.about-card {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #7CFC00;
  border-radius: 15px;
  width: 400px;
  height: 543px;
  background-image: radial-gradient(circle, rgba(124, 252, 0, 0.4), rgba(82, 125, 139, 0.4));
  box-shadow: -20px 7px 29px 20px rgba(0, 0, 0, 0.4), 20px -8px 29px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.about-card::before {
  z-index: -5;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: -20px 20px 85px 0px rgba(124, 252, 0, 0.4), 20px -20px 85px 0px rgba(124, 252, 0, 0.4);
  transition: 0.3s;
}
.about-card:hover {
  box-shadow: -20px 7px 29px 20px rgba(0, 0, 0, 0.6), 20px -8px 29px 20px rgba(0, 0, 0, 0.6);
  border: 1px solid #1E1E1E;
  background-image: radial-gradient(circle, rgba(124, 252, 0, 0.8), rgba(82, 125, 139, 0.4));
}
.about-card:hover::before {
  box-shadow: -20px 20px 85px 0px rgba(124, 252, 0, 0.6), 20px -20px 85px 0px rgba(124, 252, 0, 0.6);
}

.about-card__title {
  padding: 50px 10px 50px 10px;
}

.about-card__filling {
  text-align: center;
}

.about-card__btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-size: 1em;
  font-family: "pulsar";
  width: 251px;
  height: 61px;
  border: none;
  border-radius: 15px;
  box-shadow: -2px 3px 16px 2px #1E1E1E;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 5.344%, rgba(102, 101, 101, 0.99) 59.542%, rgba(179, 178, 178, 0.99) 98.779%, rgba(0, 0, 0, 0.99) 100%);
  background-size: 200% 200%;
  background-position: 50% 50%;
  transition: background-position 0.3s, box-shadow 0.3s, -webkit-clip-path 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s, clip-path 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s, clip-path 0.3s, -webkit-clip-path 0.3s;
}
.about-card__btn:hover {
  background-position: 0 75%;
  box-shadow: -5px 6px 16px 2px #1E1E1E;
  -webkit-clip-path: polygon(100% -32%, -79% 0%, 171% 368%);
          clip-path: polygon(100% -32%, -79% 0%, 171% 368%);
}

.about-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 180px;
  padding-bottom: 25px;
}

.img-rocket {
  width: 180px;
  height: 180px;
}

.about-card__img-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body {
  font-family: "aireexterior";
  font-size: 24px;
  color: #fff;
  box-sizing: border-box;
  background: #1E1E1E;
  margin: 0;
  padding: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
  padding: 0;
}
body ul {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}
a p {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 810px);
  padding-right: calc(50% - 810px);
}

@media (max-width: 1820px) {
  .center {
    padding-left: calc(50% - 704px);
    padding-right: calc(50% - 704px);
  }
}
@media (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}/*# sourceMappingURL=styles.css.map */