@import 'font';
@import 'mixins';
@import 'variables';
@import 'main';

html {
    scroll-behavior: smooth;
}

body {
    font-family: "aireexterior";
    font-size: clamp(16px, 2.4vw, 24px);
    color: $white;
    box-sizing: border-box;
    background: $accent-dark;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    }
    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        &:visited {
            color: inherit;
        }
        &:active {
            color: inherit;
        }
    p {
        margin: 0;
        padding: 0;
    }
}

.center {
    padding-left: clamp(20px, 10vw, 920px);
    padding-right: clamp(20px, 10vw, 920px);
}

@import 'tablet';

